{{extend 'layout.html'}}

<div class="container mt-5">
  <div class="row justify-content-center">
    <div class="col-md-6 text-center">
      <button id="btnColaborador" class="btn btn-primary">Colaborador</button>
      <button id="btnPaciente" class="btn btn-secondary">
        Paciente/Acompanhante
      </button>
    </div>
  </div>

  <div class="row justify-content-center mt-4">
    <!-- Formulário de Colaborador -->
    <div
      id="formColaborador"
      class="col-lg-6"
      style="
        display: block;
        background-color: white;
        margin: 0 auto 5px auto;
        box-shadow: 0 0 5px #a1a1a1;
        border-radius: 5px;
        padding: 20px;
      "
    >
      <h2>Colaborador Login</h2>

      <!-- Exibe o flash de erro, se houver -->
      {{if session.flash:}}
      <div
        class="alert alert-warning alert-dismissible"
        role="alert"
        id="w2p_flash"
      >
        {{=session.flash}}
        <button
          type="button"
          class="close"
          data-dismiss="alert"
          aria-label="Close"
        >
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      {{session.flash = None}} {{pass}}

      <!-- Formulário manual para login do colaborador -->
      <form method="post" action="{{=URL('default', 'login_colaborador')}}">
        <div class="form-group">
          <label for="email">E-mail</label>
          <input
            type="email"
            name="email"
            class="form-control"
            id="email"
            placeholder="Digite seu e-mail"
          />
        </div>
        <div class="form-group">
          <label for="password">Senha</label>
          <input
            type="password"
            name="password"
            class="form-control"
            id="password"
            placeholder="Digite sua senha"
          />
        </div>
        <!-- Checkbox para manter logado por 30 dias -->
        <div class="form-group form-check">
          <input
            type="checkbox"
            class="form-check-input"
            name="remember_me"
            id="remember_me"
          />
          <label class="form-check-label" for="remember_me"
            >Mantenha-me logado (por 30 dias)</label
          >
        </div>
        <button type="submit" class="btn btn-primary">Entrar</button>
      </form>
    </div>

    <!-- Formulário de Paciente -->
    <div
      id="formPaciente"
      class="col-lg-6"
      style="
        display: none;
        background-color: white;
        margin: 0 auto 5px auto;
        box-shadow: 0 0 5px #a1a1a1;
        border-radius: 5px;
        padding: 20px;
      "
    >
      <h2>Paciente Login</h2>
      <form method="post" action="{{=URL('default', 'custom_login')}}">
        <div class="form-group">
          <!-- CPF com pontos e traços -->
          <input
            type="text"
            name="cpf"
            placeholder="CPF"
            class="form-control"
            id="cpf"
            maxlength="14"
            oninput="formatCpf(this)"
          />
        </div>
        <div class="form-group">
          <!-- Data de Nascimento com restrição de 4 dígitos no ano -->
          <input
            type="date"
            name="birth_date"
            placeholder="Data de Nascimento"
            class="form-control"
            id="birth_date"
            min="1900-01-01"
            max="2099-12-31"
          />
          <small id="birth-date-message" class="text-danger"></small>
        </div>
        <button type="submit" class="btn btn-primary">Entrar</button>
      </form>
    </div>

    <script>
      // Impede datas futuras no campo de nascimento
      window.addEventListener("DOMContentLoaded", () => {
        const birthDateField = document.getElementById("birth_date");
        const today = new Date();
        const maxDate = today.toISOString().split("T")[0];
        birthDateField.max = maxDate;
      });

      // Validação da Data de Nascimento
      document
        .getElementById("birth_date")
        .addEventListener("input", function () {
          const birthDateField = document.getElementById("birth_date");
          const birthDateMessage =
            document.getElementById("birth-date-message");
          const birthDateValue = new Date(birthDateField.value);
          const today = new Date();
          const maxAgeDate = new Date();
          maxAgeDate.setFullYear(today.getFullYear() - 120);

          if (birthDateValue > today) {
            birthDateMessage.textContent =
              "A data de nascimento não pode ser futura.";
            birthDateField.classList.add("is-invalid");
          } else if (birthDateValue < maxAgeDate) {
            birthDateMessage.textContent =
              "A idade máxima permitida é de 120 anos.";
            birthDateField.classList.add("is-invalid");
          } else {
            birthDateMessage.textContent = "";
            birthDateField.classList.remove("is-invalid");
          }
        });
      // Função para formatar o CPF com pontos e traços
      function formatCpf(input) {
        let cpf = input.value.replace(/\D/g, ""); // Remove tudo que não for número
        if (cpf.length <= 3) {
          input.value = cpf;
        } else if (cpf.length <= 6) {
          input.value = cpf.slice(0, 3) + "." + cpf.slice(3);
        } else if (cpf.length <= 9) {
          input.value =
            cpf.slice(0, 3) + "." + cpf.slice(3, 6) + "." + cpf.slice(6);
        } else if (cpf.length <= 11) {
          input.value =
            cpf.slice(0, 3) +
            "." +
            cpf.slice(3, 6) +
            "." +
            cpf.slice(6, 9) +
            "-" +
            cpf.slice(9, 11);
        }
      }
    </script>

    {{block page_js}}
    <script>
      document.addEventListener("DOMContentLoaded", function () {
        const btnColaborador = document.getElementById("btnColaborador");
        const btnPaciente = document.getElementById("btnPaciente");
        const formColaborador = document.getElementById("formColaborador");
        const formPaciente = document.getElementById("formPaciente");

        btnColaborador.addEventListener("click", function () {
          formColaborador.style.display = "block";
          formPaciente.style.display = "none";
          btnColaborador.classList.add("btn-primary");
          btnColaborador.classList.remove("btn-secondary");
          btnPaciente.classList.add("btn-secondary");
          btnPaciente.classList.remove("btn-primary");
        });

        btnPaciente.addEventListener("click", function () {
          formColaborador.style.display = "none";
          formPaciente.style.display = "block";
          btnPaciente.classList.add("btn-primary");
          btnPaciente.classList.remove("btn-secondary");
          btnColaborador.classList.add("btn-secondary");
          btnColaborador.classList.remove("btn-primary");
        });
      });
    </script>
    {{end page_js}}
  </div>
</div>
