{{if auth.user:}}
<ul
  class="navbar-nav bg-gradient-primary sidebar sidebar-dark accordion"
  id="accordionSidebar"
>
  <!-- Sidebar - Brand -->
  <a
    class="sidebar-brand d-flex align-items-center justify-content-center"
    href="{{=URL('default', 'index')}}"
  >
    <div class="sidebar-brand-text mx-3">
      {{=response.title or request.application}}
    </div>
  </a>

  <!-- Divider -->
  <hr class="sidebar-divider my-0" />

  {{if auth.user and (db.user_type[auth.user.user_type] and
  db.user_type[auth.user.user_type].name in ['Gestor', 'Administrador']):}}
  <!-- Nav Item - Dashboard -->
  <li
    class="nav-item {{='active' if request.controller == 'default' and request.function == 'dashboard' else ''}}"
  >
    <a class="nav-link" href="{{=URL('dashboard', 'index')}}">
      <i class="fas fa-fw fa-tachometer-alt"></i>
      <span>Dashboard</span>
    </a>
  </li>
  {{pass}}

  <!-- Divider -->
  <hr class="sidebar-divider" />

  <!-- Heading -->
  <div class="sidebar-heading">Interface</div>

  <!-- Pacientes - somente gestores, administradores e colaboradores do setor "recepção" podem ver -->
  {{if auth.user and ((db.user_type[auth.user.user_type] and
  db.user_type[auth.user.user_type].name in ['Gestor', 'Administrador']) or
  (auth.user.setor_id and db.setor[auth.user.setor_id].name == 'Recepção')):}}
  <li
    class="nav-item {{='active' if request.controller == 'default' and request.function == 'listar_pacientes' else ''}}"
  >
    <a class="nav-link" href="{{=URL('pacientes', 'index')}}">
      <i class="fas fa-fw fa-user"></i>
      <span>Pacientes</span>
    </a>
  </li>
  {{pass}} {{if auth.user and ((db.user_type[auth.user.user_type] and
  db.user_type[auth.user.user_type].name in ['Gestor', 'Administrador']) or
  (auth.user.setor_id and db.setor[auth.user.setor_id].name ==
  'Administração')):}}
  <!-- Administrador - Dropdown -->
  <li class="nav-item">
    <a
      class="nav-link collapsed"
      href="#"
      data-bs-toggle="collapse"
      data-bs-target="#collapseAdmin"
      aria-expanded="false"
      aria-controls="collapseAdmin"
    >
      <i class="fas fa-fw fa-cog"></i>
      <span>Administrar</span>
    </a>
    <div
      id="collapseAdmin"
      class="collapse"
      aria-labelledby="headingAdmin"
      data-bs-parent="#accordionSidebar"
    >
      <div class="dropcollor py-2 collapse-inner rounded">
        <h6 class="collapse-header">Gerenciar:</h6>
        <a class="collapse-item" href="{{=URL('horarios', 'index')}}"
          >Geren. Horarios</a
        >

        <a class="collapse-item" href="{{=URL('cardapio', 'index')}}"
          >Geren. Cardápio</a
        >

        <a class="collapse-item" href="{{=URL('colaboradores', 'index')}}"
          >Colaboradores</a
        >

        <a class="collapse-item" href="{{=URL('estoque', 'index')}}">Estoque</a>

        <a class="collapse-item" href="{{=URL('financeiro', 'index')}}"
          >Financeiro</a
        >

        <a class="collapse-item" href="{{=URL('cardapio', 'admin_cardapio')}}"
          >Pedido Excepcional</a
        >
        {{if auth.user and db.user_type[auth.user.user_type] and db.user_type[auth.user.user_type].name in ['Gestor', 'Administrador']:}}

        <h6 class="collapse-header">Regras:</h6>

        <a
          class="collapse-item"
          href="{{=URL('configuracoes', 'gerenciar_setores')}}"
          >Gerenciar Setores</a
        >

        <a class="collapse-item" href="{{=URL('configuracoes', 'index')}}"
          >Regras de Solicitação</a
        >

        <a
          class="collapse-item"
          href="{{=URL('configuracoes', 'gerenciar_setores_por_tipo')}}"
          >Setores por Tipo</a
        >
        <a
          class="collapse-item"
          href="{{=URL('configuracoes', 'inicializar_categorias')}}"
          >Inicializar Categorias</a
        >
        {{pass}}
      </div>
    </div>
  </li>
  {{pass}}

  <!-- Visualizar Cardápio - Basta estar logado, todos os usuários verão... -->
  {{if auth.user :}}
  <li
    class="nav-item {{='active' if request.controller == 'default' and request.function == 'listar_cardapio_mobile' else ''}}"
  >
    <a class="nav-link" href="{{=URL('cardapio', 'listar_cardapio_mobile')}}">
      <i class="fas fa-fw fa-carrot"></i>
      <span>Cardápio</span>
    </a>
  </li>
  {{pass}}

  <!-- Visualizar Pedidos - Basta estar logado, todos os usuários verão... -->
  {{if auth.user :}}
  <li
    class="nav-item {{='active' if request.controller == 'default' and request.function == 'meus_pedidos' else ''}}"
  >
    <a class="nav-link" href="{{=URL('usuario', 'meus_pedidos')}}">
      <i class="fas fa-fw fa-hamburger"></i>
      <span>Meus Pedidos</span>
    </a>
  </li>
  {{pass}}

  <!-- Gerenciar Pedidos Cozinha - Somente gestores, administradores, e colaboradores do setor "Cozinha" ou "Nutrição" podem ver -->
  {{if auth.user and ((db.user_type[auth.user.user_type] and
  db.user_type[auth.user.user_type].name in ['Gestor', 'Administrador']) or
  (auth.user.setor_id and db.setor[auth.user.setor_id].name in ['Cozinha',
  'Nutrição'])):}}
  <li
    class="nav-item {{='active' if request.controller == 'default' and request.function == 'gerenciar_pedidos' else ''}}"
  >
    <a class="nav-link" href="{{=URL('cozinha', 'index')}}">
      <i class="fas fa-fw fa-hamburger"></i>
      <span>Cozinha</span>
    </a>
  </li>
  {{pass}}

  <!-- Relatório de pedidos - Somente gestores e administradores podem ver -->
  {{if auth.user and (db.user_type[auth.user.user_type] and
  db.user_type[auth.user.user_type].name in ['Gestor', 'Administrador']):}}
  <li class="nav-item">
    <a class="nav-link" href="{{=URL('default', 'admin_pedidos')}}">
      <i class="fas fa-fw fa-history"></i>
      <span>Hist. Pedidos</span>
    </a>
  </li>
  {{pass}}

  <!-- Divider -->
  <hr class="sidebar-divider" />

  <!-- Sidebar Toggler (Sidebar) -->
  <div class="text-center d-none d-md-inline">
    <button class="rounded-circle border-0" id="sidebarToggle"></button>
  </div>
</ul>
{{pass}}
